.challenge__container {
  margin-top: 6rem;
  display: flex;
  justify-content: space-around;
}

.challenge__img {
  width: 40%;
}

.challenge__text {
  width: 54%;
}

.challenge__text p {
  width: 80%;
  margin: 1rem 2rem;
  border: 1px solid gray;
  padding: 1rem 3rem 1rem 1rem;
  box-shadow: 3px 2px 3px 2px rgba(161, 159, 159, 0.75);
  border: 1px solid var(--gray-color);
  outline: none;
  cursor: pointer;
}

.challenge__text p span {
  color: var(--primary-color);
  font-size: 26px;
  font-weight: 550;
  margin-right: 1rem;
  text-align: justify;
  vertical-align: middle;
}

.challenge__text p:hover {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  color: white;
  border: none;
  outline: none;
}

.challenge__text P:hover span {
  color: var(--hover-color);
}
