.swiper__container {
  height: 70vh;
  margin: 2rem;
}

.problem__slide {
  display: flex;
  justify-content: space-around;
}

.problem__slide_img {
  width: 700px;
  height: 100%;
}

.problem__slide_text {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  color: white;
  padding: 1rem 8rem 0 4rem;
  border-radius: 4px;
}

.problem__slide_text p {
  font-size: 14px;
  margin-top: 1.8rem;
}
